<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Impute Missing Values**

Estimated time needed: **30** minutes

In this lab, you will practice essential data wrangling techniques using the Stack Overflow survey dataset. The primary focus is on handling missing data and ensuring data quality. You will:

- **Load the Data:** Import the dataset into a DataFrame using the pandas library.

- **Clean the Data:** Identify and remove duplicate entries to maintain data integrity.

- **Handle Missing Values:** Detect missing values, impute them with appropriate strategies, and verify the imputation to create a complete and reliable dataset for analysis.

This lab equips you with the skills to effectively preprocess and clean real-world datasets, a crucial step in any data analysis project.

## Objectives

In this lab, you will perform the following:

-   Identify missing values in the dataset.

-   Apply techniques to impute missing values in the dataset.
  
-   Use suitable techniques to normalize data in the dataset.

-----

#### Install needed library

In [ ]:
!pip install pandas

### Step 1: Import Required Libraries

In [8]:
import pandas as pd
import numpy as np

### Step 2: Load the Dataset Into a Dataframe

#### **Read Data**
<p>
The functions below will download the dataset into your browser:
</p>

In [4]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

### Step 3. Finding and Removing Duplicates
##### Task 1: Identify duplicate rows in the dataset.

In [6]:
## Write your code here
duplicates = df[df.duplicated()]

##### Task 2: Remove the duplicate rows from the dataframe.

In [7]:
## Write your code here
df1 = df.drop_duplicates()

### Step 4: Finding Missing Values
##### Task 3: Find the missing values for all columns.

In [11]:
## Write your code here
df1.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 114 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    ResponseId                      65437 non-null  int64
 1    MainBranch                      65437 non-null  object
 2    Age                             65437 non-null  object
 3    Employment                      65437 non-null  object
 4    RemoteWork                      54806 non-null  object
 5    Check                           65437 non-null  object
 6    CodingActivities                54466 non-null  object
 7    EdLevel                         60784 non-null  object
 8    LearnCode                       60488 non-null  object
 9    LearnCodeOnline                 49237 non-null  object
 10   TechDoc                         40897 non-null  object
 11   YearsCode                       59869 non-null  object
 12   YearsCodePro                    51610 non-null  object
 13   DevType                         59445 non-null  object
 14   OrgSize                         47480 non-null  object
 15   PurchaseInfluence               47406 non-null  object
 16   BuyNewTool                      45181 non-null  object
 17   BuildvsBuy                      43358 non-null  object
 18   TechEndorse                     43668 non-null  object
 19   Country                         58930 non-null  object
 20   Currency                        46684 non-null  object
 21   CompTotal                       33740 non-null  float64
 22   LanguageHaveWorkedWith          59745 non-null  object
 23   LanguageWantToWorkWith          55752 non-null  object
 24   LanguageAdmired                 50872 non-null  object
 25   DatabaseHaveWorkedWith          50254 non-null  object
 26   DatabaseWantToWorkWith          42558 non-null  object
 27   DatabaseAdmired                 38557 non-null  object
 28   PlatformHaveWorkedWith          42366 non-null  object
 29   PlatformWantToWorkWith          34532 non-null  object
 30   PlatformAdmired                 31377 non-null  object
 31   WebframeHaveWorkedWith          45161 non-null  object
 32   WebframeWantToWorkWith          38535 non-null  object
 33   WebframeAdmired                 34943 non-null  object
 34   EmbeddedHaveWorkedWith          22214 non-null  object
 35   EmbeddedWantToWorkWith          17600 non-null  object
 36   EmbeddedAdmired                 16733 non-null  object
 37   MiscTechHaveWorkedWith          39443 non-null  object
 38   MiscTechWantToWorkWith          32964 non-null  object
 39   MiscTechAdmired                 29596 non-null  object
 40   ToolsTechHaveWorkedWith         52482 non-null  object
 41   ToolsTechWantToWorkWith         46084 non-null  object
 42   ToolsTechAdmired                43997 non-null  object
 43   NEWCollabToolsHaveWorkedWith    57592 non-null  object
 44   NEWCollabToolsWantToWorkWith    52087 non-null  object
 45   NEWCollabToolsAdmired           50711 non-null  object
 46   OpSysPersonal use               58174 non-null  object
 47   OpSysProfessional use           52973 non-null  object
 48   OfficeStackAsyncHaveWorkedWith  48093 non-null  object
 49   OfficeStackAsyncWantToWorkWith  38966 non-null  object
 50   OfficeStackAsyncAdmired         37204 non-null  object
 51   OfficeStackSyncHaveWorkedWith   55545 non-null  object
 52   OfficeStackSyncWantToWorkWith   46711 non-null  object
 53   OfficeStackSyncAdmired          44712 non-null  object
 54   AISearchDevHaveWorkedWith       44453 non-null  object
 55   AISearchDevWantToWorkWith       36701 non-null  object
 56   AISearchDevAdmired              35543 non-null  object
 57   NEWSOSites                      60286 non-null  object
 58   SOVisitFreq                     59536 non-null  object
 59   SOAccount                       59560 non-null  object
 60   SOPartFreq                      45237 non-null  object
 61   SOHow                           58962 non-null  object
 62   SOComm                          59163 non-null  object
 63   AISelect                        60907 non-null  object
 64   AISent                          45873 non-null  object
 65   AIBen                           36894 non-null  object
 66   AIAcc                           37302 non-null  object
 67   AIComplex                       37021 non-null  object
 68   AIToolCurrently Using           35072 non-null  object
 69   AIToolInterested in Using       30691 non-null  object
 70   AIToolNot interested in Using   24414 non-null  object
 71   AINextMuch more integrated      13438 non-null  object
 72   AINextNo change                 12498 non-null  object
 73   AINextMore integrated           24428 non-null  object
 74   AINextLess integrated           2355 non-null   object
 75   AINextMuch less integrated      1148 non-null   object
 76   AIThreat                        44689 non-null  object
 77   AIEthics                        41548 non-null  object
 78   AIChallenges                    37531 non-null  object
 79   TBranch                         44477 non-null  object
 80   ICorPM                          29801 non-null  object
 81   WorkExp                         29658 non-null  float64
 82   Knowledge_1                     28664 non-null  object
 83   Knowledge_2                     28021 non-null  object
 84   Knowledge_3                     28095 non-null  object
 85   Knowledge_4                     28030 non-null  object
 86   Knowledge_5                     27880 non-null  object
 87   Knowledge_6                     27864 non-null  object
 88   Knowledge_7                     27778 non-null  object
 89   Knowledge_8                     27758 non-null  object
 90   Knowledge_9                     27635 non-null  object
 91   Frequency_1                     28369 non-null  object
 92   Frequency_2                     28364 non-null  object
 93   Frequency_3                     27710 non-null  object
 94   TimeSearching                   28911 non-null  object
 95   TimeAnswering                   28844 non-null  object
 96   Frustration                     28251 non-null  object
 97   ProfessionalTech                27764 non-null  object
 98   ProfessionalCloud               28491 non-null  object
 99   ProfessionalQuestion            28807 non-null  object
 100  Industry                        28858 non-null  object
 101  JobSatPoints_1                  29324 non-null  float64
 102  JobSatPoints_4                  29393 non-null  float64
 103  JobSatPoints_5                  29411 non-null  float64
 104  JobSatPoints_6                  29450 non-null  float64
 105  JobSatPoints_7                  29448 non-null  float64
 106  JobSatPoints_8                  29456 non-null  float64
 107  JobSatPoints_9                  29456 non-null  float64
 108  JobSatPoints_10                 29450 non-null  float64
 109  JobSatPoints_11                 29445 non-null  float64
 110  SurveyLength                    56182 non-null  object
 111  SurveyEase                      56238 non-null  object
 112  ConvertedCompYearly             23435 non-null  float64
 113  JobSat                          29126 non-null  float64
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

##### Task 4: Find out how many rows are missing in the column RemoteWork.

In [13]:
## Write your code here
missing_remote = df1['RemoteWork'].isnull().sum()
print(missing_remote)

10631

### Step 5. Imputing Missing Values
##### Task 5: Find the value counts for the column RemoteWork.

In [14]:
## Write your code here
value_counts = df1['RemoteWork'].value_counts()
print(value_counts)

RemoteWork
Hybrid (some remote, some in-person)    23015
Remote                                  20831
In-person                               10960
Name: count, dtype: int64

##### Task 6: Identify the most frequent (majority) value in the RemoteWork column.

In [15]:
## Write your code here
most_frequent = df1['RemoteWork'].value_counts().idxmax()
most_frequent

'Hybrid (some remote, some in-person)'

##### Task 7: Impute (replace) all the empty rows in the column RemoteWork with the majority value.

In [18]:
## Write your code here
df1['RemoteWork'].replace(np.nan,most_frequent,inplace=True)
recheck = df1['RemoteWork'].isnull().sum()
print(recheck)

0

##### Task 8: Check for any compensation-related columns and describe their distribution.

In [19]:
## Write your code here
missing_currency = df1['Currency'].isnull().sum()
print('Missing currency values', missing_currency)

value_currency = df1['Currency'].value_counts()
print('Value counts currency', value_currency)

missing_comp = df1['CompTotal'].isnull().sum()
print('Missing comp values', missing_comp)

value_comp = df1['CompTotal'].value_counts()
print('value counts comp', value_comp)

Missing currency values 18753
Value counts currency Currency
EUR European Euro            12730
USD\tUnited States dollar    10939
INR\tIndian rupee             2905
GBP\tPound sterling           2614
CAD\tCanadian dollar          1639
                             ...
SZL\tSwazi lilangeni             1
none\tCook Islands dollar        1
AWG\tAruban florin               1
BBD\tBarbadian dollar            1
BMD\tBermudian dollar            1
Name: count, Length: 142, dtype: int64
Missing comp values 31697
value counts comp CompTotal
100000.0    939
60000.0     839
120000.0    793
80000.0     728
50000.0     705
           ...
149860.0      1
449000.0      1
80150.0       1
650.0         1
295200.0      1
Name: count, Length: 3337, dtype: int64

### Summary

**In this lab, you focused on imputing missing values in the dataset.**

- Use the <code>pandas.read_csv()</code> function to load a dataset from a CSV file into a DataFrame.

- Download the dataset if it's not available online and specify the correct file path.

<!--
## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.3|Madhusudhan Moole|Updated lab|
|2024-10-29|1.2|Madhusudhan Moole|Updated lab|
|2024-09-27|1.1|Madhusudhan Moole|Updated lab|
|2024-09-26|1.0|Raghul Ramesh|Created lab|
--!>

Copyright © IBM Corporation. All rights reserved.