<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [ ]:
!pip install pandas
!pip install matplotlib

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [1]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [2]:
# Write your code here
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 114 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    ResponseId                      65437 non-null  int64
 1    MainBranch                      65437 non-null  object
 2    Age                             65437 non-null  object
 3    Employment                      65437 non-null  object
 4    RemoteWork                      54806 non-null  object
 5    Check                           65437 non-null  object
 6    CodingActivities                54466 non-null  object
 7    EdLevel                         60784 non-null  object
 8    LearnCode                       60488 non-null  object
 9    LearnCodeOnline                 49237 non-null  object
 10   TechDoc                         40897 non-null  object
 11   YearsCode                       59869 non-null  object
 12   YearsCodePro                    51610 non-null  object
 13   DevType                         59445 non-null  object
 14   OrgSize                         47480 non-null  object
 15   PurchaseInfluence               47406 non-null  object
 16   BuyNewTool                      45181 non-null  object
 17   BuildvsBuy                      43358 non-null  object
 18   TechEndorse                     43668 non-null  object
 19   Country                         58930 non-null  object
 20   Currency                        46684 non-null  object
 21   CompTotal                       33740 non-null  float64
 22   LanguageHaveWorkedWith          59745 non-null  object
 23   LanguageWantToWorkWith          55752 non-null  object
 24   LanguageAdmired                 50872 non-null  object
 25   DatabaseHaveWorkedWith          50254 non-null  object
 26   DatabaseWantToWorkWith          42558 non-null  object
 27   DatabaseAdmired                 38557 non-null  object
 28   PlatformHaveWorkedWith          42366 non-null  object
 29   PlatformWantToWorkWith          34532 non-null  object
 30   PlatformAdmired                 31377 non-null  object
 31   WebframeHaveWorkedWith          45161 non-null  object
 32   WebframeWantToWorkWith          38535 non-null  object
 33   WebframeAdmired                 34943 non-null  object
 34   EmbeddedHaveWorkedWith          22214 non-null  object
 35   EmbeddedWantToWorkWith          17600 non-null  object
 36   EmbeddedAdmired                 16733 non-null  object
 37   MiscTechHaveWorkedWith          39443 non-null  object
 38   MiscTechWantToWorkWith          32964 non-null  object
 39   MiscTechAdmired                 29596 non-null  object
 40   ToolsTechHaveWorkedWith         52482 non-null  object
 41   ToolsTechWantToWorkWith         46084 non-null  object
 42   ToolsTechAdmired                43997 non-null  object
 43   NEWCollabToolsHaveWorkedWith    57592 non-null  object
 44   NEWCollabToolsWantToWorkWith    52087 non-null  object
 45   NEWCollabToolsAdmired           50711 non-null  object
 46   OpSysPersonal use               58174 non-null  object
 47   OpSysProfessional use           52973 non-null  object
 48   OfficeStackAsyncHaveWorkedWith  48093 non-null  object
 49   OfficeStackAsyncWantToWorkWith  38966 non-null  object
 50   OfficeStackAsyncAdmired         37204 non-null  object
 51   OfficeStackSyncHaveWorkedWith   55545 non-null  object
 52   OfficeStackSyncWantToWorkWith   46711 non-null  object
 53   OfficeStackSyncAdmired          44712 non-null  object
 54   AISearchDevHaveWorkedWith       44453 non-null  object
 55   AISearchDevWantToWorkWith       36701 non-null  object
 56   AISearchDevAdmired              35543 non-null  object
 57   NEWSOSites                      60286 non-null  object
 58   SOVisitFreq                     59536 non-null  object
 59   SOAccount                       59560 non-null  object
 60   SOPartFreq                      45237 non-null  object
 61   SOHow                           58962 non-null  object
 62   SOComm                          59163 non-null  object
 63   AISelect                        60907 non-null  object
 64   AISent                          45873 non-null  object
 65   AIBen                           36894 non-null  object
 66   AIAcc                           37302 non-null  object
 67   AIComplex                       37021 non-null  object
 68   AIToolCurrently Using           35072 non-null  object
 69   AIToolInterested in Using       30691 non-null  object
 70   AIToolNot interested in Using   24414 non-null  object
 71   AINextMuch more integrated      13438 non-null  object
 72   AINextNo change                 12498 non-null  object
 73   AINextMore integrated           24428 non-null  object
 74   AINextLess integrated           2355 non-null   object
 75   AINextMuch less integrated      1148 non-null   object
 76   AIThreat                        44689 non-null  object
 77   AIEthics                        41548 non-null  object
 78   AIChallenges                    37531 non-null  object
 79   TBranch                         44477 non-null  object
 80   ICorPM                          29801 non-null  object
 81   WorkExp                         29658 non-null  float64
 82   Knowledge_1                     28664 non-null  object
 83   Knowledge_2                     28021 non-null  object
 84   Knowledge_3                     28095 non-null  object
 85   Knowledge_4                     28030 non-null  object
 86   Knowledge_5                     27880 non-null  object
 87   Knowledge_6                     27864 non-null  object
 88   Knowledge_7                     27778 non-null  object
 89   Knowledge_8                     27758 non-null  object
 90   Knowledge_9                     27635 non-null  object
 91   Frequency_1                     28369 non-null  object
 92   Frequency_2                     28364 non-null  object
 93   Frequency_3                     27710 non-null  object
 94   TimeSearching                   28911 non-null  object
 95   TimeAnswering                   28844 non-null  object
 96   Frustration                     28251 non-null  object
 97   ProfessionalTech                27764 non-null  object
 98   ProfessionalCloud               28491 non-null  object
 99   ProfessionalQuestion            28807 non-null  object
 100  Industry                        28858 non-null  object
 101  JobSatPoints_1                  29324 non-null  float64
 102  JobSatPoints_4                  29393 non-null  float64
 103  JobSatPoints_5                  29411 non-null  float64
 104  JobSatPoints_6                  29450 non-null  float64
 105  JobSatPoints_7                  29448 non-null  float64
 106  JobSatPoints_8                  29456 non-null  float64
 107  JobSatPoints_9                  29456 non-null  float64
 108  JobSatPoints_10                 29450 non-null  float64
 109  JobSatPoints_11                 29445 non-null  float64
 110  SurveyLength                    56182 non-null  object
 111  SurveyEase                      56238 non-null  object
 112  ConvertedCompYearly             23435 non-null  float64
 113  JobSat                          29126 non-null  float64
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here
df.describe(include='number')

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [11]:
# Write your code here
data = df['Country'].value_counts(dropna=False)
data

Country
United States of America                                11095
NaN                                                      6507
Germany                                                  4947
India                                                    4231
United Kingdom of Great Britain and Northern Ireland     3224
                                                        ...
Micronesia, Federated States of...                          1
Nauru                                                       1
Chad                                                        1
Djibouti                                                    1
Solomon Islands                                             1
Name: count, Length: 186, dtype: int64

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [13]:
## Write your code here
df['Country'] = df['Country'].str.strip().str.title()
df['EdLevel'] = df['EdLevel'].str.strip().str.title()

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [14]:
## Write your code here
df_encoded = pd.get_dummies(df, columns=['Employment'])

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [26]:
## Write your code here
missing_values = df.isnull().sum().sort_values(ascending=False)
missing_values.head(15)

AINextMuch less integrated       64289
AINextLess integrated            63082
AINextNo change                  52939
AINextMuch more integrated       51999
EmbeddedAdmired                  48704
EmbeddedWantToWorkWith           47837
EmbeddedHaveWorkedWith           43223
ConvertedCompYearly              42002
AIToolNot interested in Using    41023
AINextMore integrated            41009
Knowledge_9                      37802
Frequency_3                      37727
Knowledge_8                      37679
ProfessionalTech                 37673
Knowledge_7                      37659
dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [29]:
## Write your code here
meancomp = df['ConvertedCompYearly'].mean()
df['ConvertedCompYearly'].fillna(meancomp, inplace=True)

C:\Users\jbrow\AppData\Local\Temp\ipykernel_15036\4060082716.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ConvertedCompYearly'].fillna(meancomp, inplace=True)

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [30]:
## Write your code here
medremote = df['RemoteWork'].value_counts().idxmax()
df['RemoteWork'].fillna(medremote, inplace=True)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [31]:
## Write your code here
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler()
df['ConvertedCompYearly']= minmax.fit_transform(df[['ConvertedCompYearly']])

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [32]:
## Write your code here
import numpy as np

df['ConvertedCompYearly']= np.log(df['ConvertedCompYearly'])

C:\Users\jbrow\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [33]:
## Write your code here
df['ExperienceLevel']= df['YearsCodePro']

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.